<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.team_x.cloud_transport.taxi_driver">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <application
        android:name="ir.team_x.cloud_transport.taxi_driver.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity
            android:name="ir.team_x.cloud_transport.taxi_driver.activity.CancelServiceActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"  />

        <activity
            android:name="ir.team_x.cloud_transport.taxi_driver.activity.MainActivity"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />

        <activity
            android:name="ir.team_x.cloud_transport.taxi_driver.activity.GetServiceActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <activity
            android:name="ir.team_x.cloud_transport.taxi_driver.activity.SplashActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="teamx.ariana.driver" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBwhW4gtjID9aO-w7aKi5_XWxc5xBaDNAM" />
        <!--            android:value="AIzaSyB_licMGBhWU7REU-ekCVJgO-3W2JaKRsg" />-->

        <service android:name="ir.team_x.cloud_transport.taxi_driver.gps.DataGatheringService" />

        <receiver
            android:name="ir.team_x.cloud_transport.taxi_driver.push.AutoStart"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name="ir.team_x.cloud_transport.taxi_driver.push.AvaService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="ir.team_x.cloud_transport.taxi_driver.push_notification.OnMessageReceiveAvaListener"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="10000">
                <action android:name="ir.taxi1880.driver.ACTION_RECEIVE_MESSAGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="ir.team_x.cloud_transport.taxi_driver.push_notification.OnMessageReceiver"
            android:enabled="true"
            android:exported="false" />

        <!-- TODO change authorities value for each project-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ir.transport_x"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>


    </application>

</manifest>